<footer class="footer">
    <div class="left">
        &copy; <%= new Date().getFullYear() %> Eklavya - Thanks for visiting my website built with Node.js, Express, and MongoDB!
    </div>
    <div class="right">
        <a href="https://github.com/eklavya172004" target="_blank">Source code on GitHub</a>
    </div>
</footer>
