<div class="author">
    <div class="heading">
        Welcome to the blog website where people can share their thoughts, experiences, and knowledge.I'm here to help you explore and learn new things.
    </div>

    <h1>I'm EKlavya Nath</h1>
    <img src="/images/hero-img.jpg" alt="person looking out through window" class="hero-image" width="200" height="200">
    <h2>Web Developer</h2>
    <p>Create New Blog</p>

    <a href="/blog/new" style="text-decoration: none;" class="add-button">Add +</a>
    <a href="/blog" class="show-blogs-button">Show Blogs</a>
</div>
