<h2>Update Password</h2>

<!-- Display message if available -->
<% if (locals.message) { %>
    <p><%= locals.message %></p>
<% } %>

<form action="/updatepassword" method="POST">
    <label for="currentpassword">Current Password:</label>
    <input type="password" name="Currentpassword" id="currentpassword" required>

    <label for="newPassword">New Password:</label>
    <input type="password" name="password" id="newPassword" required>

    <label for="passwordConfirmation">Confirm New Password:</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" required>

    <button type="submit">Update Password</button>
</form>